

h5{
	text-align: center;
    text-decoration: underline;
    text-decoration-color: cadetblue;
}

.form-outline .form-control {
    background: white !important;
	color: black;

}

label{
	font-size: small;
}